@charset "utf-8";

/**
 * ----------------------------------------------------------------------------------------------
 * This is a variation of Normalize.css (http://necolas.github.io/normalize.css/)
 * ----------------------------------------------------------------------------------------------
 */
/**
 * Base
 */
*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin: 0;
}

[hidden] {
  display: none !important;
}

/**
 * HTML5 display definitions
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Text-level semantic
 */
:active {
  outline: none;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  font-family: "Raleway", serif;
  letter-spacing: 0.6px
}

p {
  margin-top: 0;
  font-size: 17px;
  font-weight: inherit;
  line-height: 1.4;
  font-family: "Raleway", serif;
  letter-spacing: 0.6px
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}



/* Announcement */
#section-announcement {
    background: #0b2e33;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

#section-announcement .AnnouncementBar {
  padding: 10px 20px;
  text-align: center;
}

#section-announcement .AnnouncementBar p {
  font-size: 18px;
  font-weight: 800;
}



/* Header */
#section-header {
    position: sticky;
    top: 0;
    padding: 10px 20px;
}

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.header-content-wrap .logo img {
  width: 100px;
}

.header-content-wrap .nav {
  display: none;
}

.header-content-wrap .nav a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-spacer {
  width: 100px;
}

#section-header.scrolled {
  background: #28727d;
}

@media(min-width: 1140px) {
  .header-content-wrap .nav {
    align-items: center;
    gap: 20px;
    display: flex;
  }
}



/* Main */
main {
  margin-top: -124px;
}




/* Custom Codes */
/* Hero Banner */
.hero-banner img {
    width: 100%;
  }


  /* Image with floating box */
  .floating_box {
    position: relative;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .floating_box img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
  }

  .ImageHero__ImageWrapper {
    background: #ffffffa1;
    text-align: center;
    padding: 60px 30px;
    border-radius: 10px;
    max-width: 840px;
    margin: 20px 40px;
  }

  .ImageHero__ImageWrapper h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .ImageHero__ImageWrapper p {
    font-size: 17px;
    font-weight: 600;
  }
  
  
  
  /* Block Text */
  .text-blocks_wrapper {
    padding: 40px 20px;
    text-align: center;
  }
  
  .text-blocks_wrapper h2 {
    font-size: 40px;
    font-weight: 700;
    color: #28727d;
  }
  
  .text-blocks {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block-content {
    width: calc(100% / 1 - 20px);
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background: #f15a2a;
    color: #fff;
  }
  
  .block-content h4 {
    font-size: 26px;
    font-weight: 600;
  }
  
  @media(min-width: 1140px) {
    .block-content {
      width: calc(100% / 3 - 20px);
      margin: 10px;
      padding: 30px;
      border-radius: 10px;
      background: #f15a2a;
      color: #fff;
    }
  }


  /* Image Slider */
  .slider-with_img {
    background: #1d1d1d;
    color: #fff;
    padding: 60px;
  }

  .slider-with_img-top {
    display: flex;
  }