@charset "utf-8";

/**
 * ----------------------------------------------------------------------------------------------
 * This is a variation of Normalize.css (http://necolas.github.io/normalize.css/)
 * ----------------------------------------------------------------------------------------------
 */
/**
 * Base
 */
*,
*:before,
*:after {
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

[hidden] {
  display: none !important;
}

/**
 * HTML5 display definitions
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Text-level semantic
 */
:active {
  outline: none;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;
  font-family: "Raleway", serif;
  letter-spacing: 0.6px
}

p {
  margin-top: 0;
  font-size: 17px;
  font-weight: inherit;
  line-height: 1.4;
  font-family: "Raleway", serif;
  letter-spacing: 0.6px
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}



/* Announcement */
#section-announcement {
    background: #0b2e33;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

#section-announcement .AnnouncementBar {
  text-align: center;
}

#section-announcement .AnnouncementBar p {
  font-size: 12px;
  font-weight: 800;
}

@media(min-width: 1140px) {
  #section-announcement .AnnouncementBar p {
    font-size: 18px;
  }
}



/* Header */
#section-header {
  position: sticky;
  top: 0;
  padding: 10px 20px;
  z-index: 100;
  transition: 0.3s;
}

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
}

.header-content-wrap .logo img {
  width: 60px;
}

.header-content-wrap .nav {
  display: none;
}

.header-content-wrap .nav a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-spacer {
  width: 100px;
}

#section-header.scrolled {
  background: #28727d;
}

@media(min-width: 1140px) {
  .header-content-wrap .nav {
    align-items: center;
    gap: 20px;
    display: flex;
  }

  .header-content-wrap .logo img {
    width: 100px;
  }
}



/* Main */
main {
  margin-top: var(--header-height);
}




/* Custom Codes */
/* Hero Banner */
.hero-banner img {
    width: 100%;
  }


  /* Image with floating box */
  .floating_box {
    position: relative;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .floating_box img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: -1;
  }

  .ImageHero__ImageWrapper {
    background: #ffffffa1;
    text-align: center;
    padding: 60px 30px;
    border-radius: 10px;
    max-width: 840px;
    margin: 15px 15px;
  }

  .ImageHero__ImageWrapper h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .ImageHero__ImageWrapper p {
    font-size: 17px;
    font-weight: 600;
  }

  @media(min-width: 1140px) {
    .ImageHero__ImageWrapper {
      margin: 20px 40px;
    }
  }
  
  
  
  /* Block Text */
  .text-blocks_wrapper {
    padding: 40px 20px;
    text-align: center;
  }
  
  .text-blocks_wrapper h2 {
    font-size: 40px;
    font-weight: 700;
    color: #28727d;
  }
  
  .text-blocks {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block-content {
    width: calc(100% / 1 - 20px);
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background: #f15a2a;
    color: #fff;
  }
  
  .block-content h4 {
    font-size: 26px;
    font-weight: 600;
  }
  
  @media(min-width: 1140px) {
    .block-content {
      width: calc(100% / 3 - 20px);
      margin: 10px;
      padding: 30px;
      border-radius: 10px;
      background: #f15a2a;
      color: #fff;
    }
  }


  /* Image Slider */
  .slider-with_img {
    background: #1d1d1d;
    color: #fff;
    padding: 60px 20px;
  }

  .slider-with_img-top {
    display: flex;
    margin-bottom: 40px;
  }

  .slider-with_img-bottom {
    text-align: center;
  }

  .slider-with_img-bottom h4 {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.2;
  }

  .prog_slider {
    width: 100%;
  }

  .prog_slider .slick-track {
    display: flex;
  }

  .prog_slider .slide-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .slide-content-wrap {
    padding: 0 20px;
    text-align: center;
  }

  .slide-content-wrap h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .slide-content-wrap span {
    font-size: 18px;
    margin-bottom: 50px;
    display: block;
    font-weight: 900;
    font-style: italic;
  }

  .slide-content-wrap p {
    text-align: left;
    font-size: 15px;
  }

  .prog_slider img {
    padding: 50px 0 0;
    max-height: 750px;
  }

  .prog_slider .slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .prog_slider .slick-dots li {
    list-style: none;
    margin-right: 12px;
    cursor: pointer;
  }

  .prog_slider .slick-dots li button {
    font-size: 0;
    border: none;
    width: 40px;
    transition: 0.3s;
    height: 5px;
    outline: none;
    cursor: pointer;
  }

  .prog_slider .slick-dots li.slick-active button,
  .prog_slider .slick-dots li:hover button,
  .prog_slider .slick-dots li:focus button {
    background: #28727d;
  }

  .slide-content img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .slide-content {
    padding: 0 1px;
  }

  @media(min-width: 1140px) {
    .slider-with_img {
      padding: 60px 60px;
    }

    .slider-with_img-top {
      margin-bottom: 100px;
    }

    .prog_slider .slick-dots {
      position: absolute;
      bottom: -60px;
      left: 200px;
    }

    .prog_slider .slide-wrap {
      flex-direction: row;
    }

    .slide-content-wrap {
      padding: 0 60px;
    }

    .slide-content-wrap h3 {
      font-size: 70px;
    }
  
    .slide-content-wrap span {
      font-size: 32px;
    }
  
    .slide-content-wrap p {
      font-size: 26px;
    }

    .slide-content img {
      width: 50%;
    }

    .slider-with_img-bottom h4 {
      font-size: 30px;
    }
  }


  /**
  * ----------------------------------------------------------------------------
  * Gallery Section
  * ----------------------------------------------------------------------------
  */

  .gallery--block {
    background: #1D1D1D;
    padding: 0 0 80px;
  }

  .gallery--block img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
  }

  .gallery--block .container {
      max-width: 1712px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 25px;
  }

  .grid-container {
      -moz-column-count:1;
      -moz-column-gap: 1%;
      -moz-column-width: 30%;
      -webkit-column-count:1;
      -webkit-column-gap: 1%;
      -webkit-column-width: 30%;
      column-count: 1;
      column-gap: 1%;
      column-width: 30%;
  }

  .column {
    margin-bottom: 8px;
  }

  .gallery--block .slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .gallery--block .slick-dots li {
    list-style: none;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .gallery--block .slick-dots li button {
    font-size: 0;
    border: none;
    width: 10px;
    transition: 0.3s;
    height: 5px;
    outline: none;
    cursor: pointer;
  }
  
  .gallery--block .slick-dots li.slick-active button,
  .gallery--block .slick-dots li:hover button,
  .gallery--block .slick-dots li:focus button {
    background: #28727d;
  }

  @media screen and (min-width: 641px) {
      .grid-container {
          -moz-column-count:2;
          -moz-column-gap: 1%;
          -moz-column-width: 30%;
          -webkit-column-count:2;
          -webkit-column-gap: 1%;
          -webkit-column-width: 30%;
          column-count: 2;
          column-gap: 1%;
          column-width: 30%;
      }
      
      .column {
          margin-bottom: 7px;
      }
  }

  @media screen and (min-width: 1008px) {
      .grid-container {
          -moz-column-count:4;
          -moz-column-gap: 1%;
          -moz-column-width: 30%;
          -webkit-column-count:4;
          -webkit-column-gap: 1%;
          -webkit-column-width: 30%;
          column-count: 4;
          column-gap: 1%;
          column-width: 30%;
      }
      
      .column {
          margin-bottom: 10px;
      }
  }

  @media screen and (min-width: 1140px) {
      .column {
          margin-bottom: 16px;
      }

      .gallery--block {
        padding: 60px 0 80px;
      }
  } 




/* Footer */
footer {
  max-width: 1760px;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-content {
  padding: 20px;
  width: calc(100% / 1);
}

.footer-content h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-content p {
  font-size: 15px;
  font-weight: 500;
  color: #000000bd;
  font-style: italic;
}

@media(min-width: 1140px) {
  footer {
    flex-direction: row;
  }
  
  .footer-content {
    width: calc(100% / 5);
  }
}